global
    log 127.0.0.1 local2

defaults
    mode http
    log global
    option httplog
    option dontlognull
    option http-server-close
    option forwardfor except 127.0.0.0/8
    option redispatch
    retries 3
    timeout http-request 10s
    timeout queue 1m
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    timeout http-keep-alive 10s
    timeout check 10s
    maxconn 3000

frontend main *:80
    default_backend portal
    compression algo gzip
    compression type text/html text/plain text/css application/json text/javascript application/xml
    acl is_editor path_beg /editar
    use_backend editor if is_editor

frontend admin *:8080
    default_backend cadvisor

    stats enable
    stats refresh 5s
    stats show-node
    stats uri /lb-stats

    acl is_logspout path_beg /logs
    use_backend logspout if is_logspout

backend portal
    balance roundrobin
    server portal1 portal1:8080 check
    server portal2 portal2:8080 check

backend editor
    balance roundrobin
    cookie SERVER insert indirect nocache
    server editor1 editor1:8090 check cookie editor1
    server editor2 editor2:8090 check cookie editor2

backend elasticsearch
    server es1 es1:9200 check
    server es2 es2:9200 check

backend cadvisor
    server cadvisor cadvisor:8080 check

backend logspout
    server logspout logspout:8000 check
